.gallery-container{
  width: 100%;
  max-width: 1920px;
  left: -375px;
  .gallery-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    .gallery-element{
      display: grid;
      place-content: center;
      position: relative;
      margin: 10px 10px 10px 0;
      width: var(--width-third);
      height: 414px;

      .gallery-picture{
        img{
          width: 100%;
          min-width: 100px;
          min-height: 100px;
          max-width: 620px;
          height:414px;

        }
      }
      .gallery-text{
        display: none;
        position: absolute;
        z-index: 10;
        width: 98.4%;
        height: 414px;
        left: 5px;
        top: -5px;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5;
        letter-spacing: 0;
        color: #fff;
        p{
          position: absolute;
          top: 73%;
          transform: translateY(-50%);
        }
        &:after{
          content: '';
          background-color: rgba(237,127,0,.55);
          inset: 0;
          position: absolute;
          z-index: -1;

        }
      }
      &:hover .gallery-text{
        display: flex;
        justify-content: center;

      }
      .sub-text{
        display: none;
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 85%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 20px;
        color: #fff;
        margin: 0 0 10px;
      }
      &:hover .sub-text{
        display: inline-block;
      }
    }
  }
  .gallery-button{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    margin-top: 5px;
    a{
      display: inline-block;
      padding: 12px 24px;
      border-radius: 3px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1.71em;
      letter-spacing: 8.4px;
      fill: #f7992b;
      color: #f7992b;
      background-color: #fff;
      border-style: solid;
      border-color: #f7992b;
      &:hover{
        color: #fff !important;
        background-color: #f7992b !important;
      }
      &:visited{
        color: #f7992b
      }
    }

  }

}