@import "variables.css";
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*browser reset*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*general styling*/
body{
  background-color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 2.142;
  font-family: Raleway,sans-serif;
  letter-spacing: 0;
  text-align: left;
  color: #3b3d42;
  h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  strong{
    font-weight: 700;
  }

  .col-12 {width: 100%;}
  .col-11 {width: 91.66%;}
  .col-10 {width: 83.33%;}
  .col-9 {width: 75%;}
  .col-8 {width: 66.66%;}
  .col-7 {width: 58.33%;}
  .col-6 {width: 50%;}
  .col-5 {width: 41.66%;}
  .col-4 {width: 33.33%;}
  .col-3 {width: 25%;}
  .col-2 {width: 16.66%;}
  .col-1 {width: 8.33%;}


  .divider-1{
    padding-top: 15px;
    padding-bottom: 15px;
    .divider-element{
      display: inline-block;
      width:70px;


      border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-border-color);

    }
  }

  /*header section*/
@import "header.scss";


  // slide in animation
  .animated{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
    0%{
      -webkit-transform:translateX(-1000px);
    }
    100%{
      -webkit-transform:translateX(0);
    }
  }
  @keyframes fadeInLeft {
    0%{
      transform: translateX(-1000px);
    }
    100%{
      transform: translateX(0);
    }
  }
  
  @-webkit-keyframes fadeInRight {
    0%{
      -webkit-transform:translate3d(100%,0,0);
      opacity: 0;

    }
    100%{
      -webkit-transform: none;
      opacity: 1;
    }
  }
  @keyframes fadeInRight {
    0%{
      transform:translate3d(100%,0,0);
      opacity: 0;

    }
    100%{
      transform: none;
      opacity: 1;
    }
  }


  .fade-in-left{
    -webkit-animation-name:fadeInLeft;
    animation-name:fadeInLeft;
  }

  .anim-speed{
    animation-duration: 1.25s;
  }
  .anim-slow{
    animation-duration: 2s;
  }

  .fade-in-right{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }


  /*background section*/
  @import "background.scss";


  /*Charity campaign section*/
  @import "charity_campaign.scss";


  /*About section*/
  @import "about.scss";


  /*variety section*/
  @import "variety.scss";


  /*gallery section*/
  @import "gallery.scss";

  /*news section*/
  @import "news.scss";

  /*contact section*/
  @import "contact.scss";


}







